@import "../scss/bootstrap/bootstrap";
@import "../css/wp-core.css";
//-------------------- font family --------------------
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* ------------------------Fonts variable----------------------- */

$thin:100;
$wght:300;
$regular:400;
$medium:500;
$bold:700;

/* ------------------------Fonts variable----------------------- */

$primary-font: 'Ubuntu',
sans-serif;

/* ------------------------colors variable----------------------- */

$primary-text-color:#323232;
$secondary-color:#7952B3;
$green:#27B261;
$greenlight:#AEDBC1;
$gray-text-color:#646464;
$white-color:#fff;
$black-color:#000;

/* ------------------------- section bg color --------------------*/

$bg-primary:#fff;
$bg-secondary:#EBF3FF;
.bg-primry {
    background-color: $bg-primary;
}

.bg-secondry {
    background-color: $bg-secondary;
}


/* ------------------------media mixin--------------------------- */

@mixin minwidth($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}


/* ------------------------body css --------------------------- */

body {
    // overflow: hidden;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: $regular;
    line-height: 1.5;
    // @include minwidth(992px) {
    //     font-size: 18px;
    // }
}


/* ------------------- Start Typography ----------------------- */

img {
    max-width: 100%;
    height: auto;
}

a {
    color: $secondary-color;
    transition: all 0.4s;
    &:hover,
    &:active,
    &:focus {
        color: $secondary-color;
        text-decoration: none;
    }
}

input {
    &:not([type="file"]):not([type="image"]):not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="checkbox"]):not([type="radio"]) {
        border: 1px solid #eaeaea;
        padding: 5px 10px;
        width: 100%;
        margin-bottom: 5px;
        height: 36px;
        @include minwidth(768px) {
            height: 40px;
        }
    }
    &:disabled {
        cursor: not-allowed;
        background-color: #ddd;
    }
}

textarea {
    border: 1px solid #eaeaea;
    padding: 4px 10px;
    width: 100%;
    height: 140px;
    margin-bottom: 5px;
    @include minwidth(768px) {
        height: 180px;
    }
}

select {
    width: 100%;
    border: 1px solid #eaeaea;
    margin-bottom: 5px;
    height: 36px;
    @include minwidth(768px) {
        height: 40px;
    }
}

.btn,
button[type="submit"],
button[type="button"],
input[type="reset"],
input[type="submit"] {
    transition: all 0.4s;
    display: inline-block;
    background-color: $primary-text-color;
    color: $white-color;
    border: none;
    padding: 5px 15px;
}

strong,
b,
.b {
    font-weight: 700;
}

blockquote {
    @extend .blockquote;
    padding: 10px;
    background-color: #fafafa;
    border: 1px solid #eee;
}

p,
ol,
ul,
address,
blockquote,
form,
table {
    &:not(:last-child) {
        margin-bottom: 15px;
        @include minwidth(768px) {
            margin-bottom: 20px;
        }
    }
}

li {
    &:not(:last-child) {
        margin-bottom: 6px;
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: $primary-font;
    font-weight: 700;
}

h1,
.h1 {
    font-size: 30px;
    margin-bottom: 25px;
    &:not(:first-child) {
        margin-top: 35px;
    }
}

h2,
.h2 {
    font-size: 25px;
    margin-bottom: 21px;
    &:not(:first-child) {
        margin-top: 28px;
    }
}

h3,
.h3 {
    font-size: 22px;
    margin-bottom: 18px;
    &:not(:first-child) {
        margin-top: 24px;
    }
}

h4,
.h4 {
    font-size: 20px;
    margin-bottom: 16px;
    &:not(:first-child) {
        margin-top: 22px;
    }
}

h5,
.h5 {
    font-size: 18px;
    margin-bottom: 15px;
    &:not(:first-child) {
        margin-top: 20px;
    }
}

h6,
.h6 {
    font-size: 16px;
    margin-bottom: 12px;
    &:not(:first-child) {
        margin-top: 16px;
    }
}

@include minwidth(992px) {
    h1,
    .h1 {
        font-size: 36px;
        margin-bottom: 35px;
        &:not(:first-child) {
            margin-top: 45px;
        }
    }
    h2,
    .h2 {
        font-size: 30px;
        margin-bottom: 30px;
        &:not(:first-child) {
            margin-top: 40px;
        }
    }
    h3,
    .h3 {
        font-size: 25px;
        margin-bottom: 26px;
        &:not(:first-child) {
            margin-top: 32px;
        }
    }
    h4,
    .h4 {
        font-size: 22px;
        margin-bottom: 22px;
        &:not(:first-child) {
            margin-top: 28px;
        }
    }
    h5,
    .h5 {
        font-size: 20px;
        margin-bottom: 20px;
        &:not(:first-child) {
            margin-top: 26px;
        }
    }
    h6,
    .h6 {
        font-size: 18px;
        margin-bottom: 16px;
        &:not(:first-child) {
            margin-top: 20px;
        }
    }
}

table {
    @extend .table,
    .table-bordered;
    th {
        background: $black-color;
        color: #fff;
        font-weight: 700;
        @include minwidth(992px) {
            font-size: 18px;
        }
        @include minwidth(1200px) {
            font-size: 20px;
        }
    }
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


/* ------------------------ start site typography ----------------------*/

.secPadding {
    padding: 30px 0px;
}

.secPaddingTop {
    padding-top: 30px;
}

.secPaddingBottom {
    padding-bottom: 30px;
}

.secMargin {
    margin: 30px 0px;
}

.secMarginTop {
    margin-top: 30px;
}

.secMarginBottom {
    margin-bottom: 30px;
}

@include minwidth(1200px) {
    .secPadding {
        padding: 60px 0px;
    }
    .secPaddingTop {
        padding-top: 60px;
    }
    .secPaddingBottom {
        padding-bottom: 60px;
    }
    .secMargin {
        margin: 60px 0px;
    }
    .secMarginTop {
        margin-top: 60px;
    }
    .secMarginBottom {
        margin-bottom: 60px;
    }
}

$btn_backcolor:#0DC6F6;
.btn {
    &.btn-primariey {
        padding: 15px 12px 15px 12px;
        @include minwidth(991px) {
            padding: 18px 16px 18px 16px;
        }
        border-radius: 12px;
        background-color: $secondary-color;
    }
    &.btn-primariey:hover {
        background-color: #9564de;
        color: $white-color;
    }
    &.btn-seconday {
        padding: 15px 12px 15px 12px;
        @include minwidth(991px) {
            padding: 18px 16px 18px 16px;
        }
        border-radius: 12px;
    }
}

.bg-color-primary {
    background: $bg-primary;
}


/* ------------------------ end site typography ----------------------*/


/* ------------------------ start main css ----------------------*/

.container {
    width: 1140px;
    max-width: 100%;
}

.wrapper {
    position: relative;
}

.position-set {
    width: 100%;
    position: absolute;
    z-index: 999999999;
}

// headersection
.head-bg {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

header {
    .navbar {
        // padding: 32px 0px 32px 0px;
        .logos {
            padding-top: 18px;
            padding-bottom: 18px;
            .brand {
                height: unset;
                margin: unset;
                img {
                    width: 120px;
                    display: block;
                    @include minwidth(575px) {
                        width: 120px;
                    }
                    @include minwidth(991px) {
                        margin: 0px;
                        width: 128px;
                    }
                }
            }
        }
        .navbar-toggler {
            &:focus {
                outline: none;
            }
            border: 1px solid $white-color;
            cursor: pointer;
            width: 49px;
            background-color: rgba(0,
            0,
            0,
            0.0);
            height: 41px;
            border: 1px solid #ffffff94;
            display: flex;
            align-items: center;
            justify-content: center;
            .navbar-toggler-inner,
            .navbar-toggler-inner::before,
            .navbar-toggler-inner::after {
                width: 1em;
                height: 0.16em;
                background-color: $black-color;
                position: absolute;
            }
            .navbar-toggler-inner::before {
                content: "";
                display: block;
                top: -0.3em;
            }
            .navbar-toggler-inner::after {
                content: "";
                display: block;
                bottom: -0.3em;
            }
            .navbar-toggler-inner {
                transition: 0.2s;
                transform: rotate(0deg);
            }
        }
        .navbar-toggler.active {
            .navbar-toggler-inner {
                transition: 0.2s;
                transform: rotate(45deg); // 45+360
            }
            .navbar-toggler-inner::before {
                top: 0;
                opacity: 0;
            }
            .navbar-toggler-inner::after {
                bottom: 0;
                transform: rotate(-90deg);
            }
        }
        @include minwidth(992px) {
            .navbar-toggler {
                display: none !important;
            }
        }
        // humbager animation
        .navbar-collapse {
            .navbar-nav {
                margin: 0px;
                padding-top: 8px;
                flex-wrap: wrap;
                justify-content: flex-end;
                .nav-item {
                    margin: 0px;
                    .dropdown-menu {
                        display: none;
                        margin-top: 0px;
                        background-color: #1f0f0f6e;
                        .catagory {
                            display: flex;
                            // justify-content: center;
                        }
                        .dropdown-item {
                            text-align: center;
                            font-size: 16px;
                            font-weight: 400;
                            font-family: $primary-font;
                            color: $primary-text-color;
                            text-decoration: none;
                            margin: 0px;
                            height: auto;
                        }
                        .dropdown-item:hover,
                        .dropdown-item:focus {
                            background-color: unset;
                            text-decoration: underline;
                            text-decoration-color: $secondary-color;
                            text-decoration-style: solid;
                            text-decoration-thickness: 3px;
                            text-underline-offset: 4px;
                        }
                    }
                    .nav-link {
                        text-align: center;
                        font-size: 16px;
                        font-family: $primary-font;
                        color: $primary-text-color;
                        text-decoration: none;
                        margin: 0px;
                        height: auto;
                        span::after {
                            display: inline-block;
                            margin-left: 5px;
                            vertical-align: 0.255em;
                            content: "";
                            border-top: 8px solid;
                            border-right: 0.3em solid transparent;
                            border-bottom: 0;
                            border-left: 0.3em solid transparent;
                        }
                        @include minwidth(992px) {
                            padding: 0px 25px 0px 25px;
                        }
                    }
                    @include minwidth(992px) {
                        .nav-link-hover::after {
                            margin: auto;
                            margin-top: 2px;
                            content: "";
                            display: block;
                            width: 0px;
                            height: 3px;
                            background-color: $white-color;
                            transition: width 0.3s;
                        }
                        .nav-link-hover:hover::after {
                            width: 100%;
                            transition: width 0.3s;
                            color: #fff;
                        }
                    }
                }
                .nav-item:hover .nav-link {
                    text-decoration: underline;
                    text-decoration-color: $white-color;
                    text-decoration-style: solid;
                    text-decoration-thickness: 3px;
                    text-underline-offset: 4px;
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                    @include minwidth(991px) {
                        text-decoration: none;
                    }
                }
                .nav-item:hover .dropdown-menu {
                    @keyframes rotateMenu {
                        0% {
                            transform: rotateX(-90deg)
                        }
                        70% {
                            transform: rotateX(20deg)
                        }
                        100% {
                            transform: rotateX(0deg)
                        }
                    }
                    animation: rotateMenu 1000ms ease-in-out forwards;
                    transform-origin: top center;
                    display: block !important;
                }
                // .nav-item:last-child .nav-link {
                //     padding-right: 0px;
                // }
            }
            .primary-btn {
                text-align: center;
            }
            @include minwidth(992px) {}
        }
    }
}

.bannar {
    // background-image: url('../image/about-bannar.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: block;
    width: 100%;
    max-width: 100%;
}

// ----------------------- start bannar section ---------------
.bannar_inner {
    display: block;
    padding: 170px 0px 70px 0px;
    @include minwidth(576px) {
        padding: 190px 0px 90px 0px;
    }
    @include minwidth(991px) {
        padding: 200px 0px;
    }
    @include minwidth(1200px) {
        padding: 230px 0px;
    }
    .h2 {
        color: $white-color;
        margin: 0px;
        @include minwidth(576px) {
            font-size: 30px;
        }
        @include minwidth(991px) {
            font-size: 40px;
        }
        @include minwidth(1120px) {
            font-size: 50px;
        }
    }
}


/* ----------------------- slider section ----------------*/

.banner-slider {
    .inner-box {
        padding-top: 55px;
        padding-bottom: 80px;
        .bannar-text {
            width: 477px;
            max-width: 100%;
            .h1 {
                font-weight: $bold;
                margin-bottom: 25px;
            }
            .para {
                font-weight: $regular;
                margin-bottom: 30px;
            }
            @include minwidth(991px) {
                padding-top: 110px;
                padding-bottom: 165px;
                .h1 {
                    font-size: 54px;
                    margin-bottom: 32px;
                }
                .para {
                    margin-bottom: 56px;
                }
            }
        }
    }
}


/* ------------------------ start service -------------------*/

.gutter-30 {
    padding-bottom: 30px;
    @include minwidth(768px) {
        padding-bottom: 0px;
    }
}

.common-section {
    padding-top: 30px;
    padding-bottom: 30px;
    @include minwidth(991px) {
        padding-top: 65px;
        padding-bottom: 98px;
    }
    width: 480px;
    max-width: 100%;
    .h2 {
        font-family: $primary-font;
        font-weight: bold;
        margin-bottom: 25px;
        color: $primary-text-color;
        @include minwidth(991px) {
            font-size: 40px;
            margin-bottom: 38px;
        }
    }
    .para {
        color: $gray-text-color;
        margin-bottom: 0px;
    }
}

.service {
    padding-bottom: 30px;
    @include minwidth(991px) {
        padding-bottom: 60px;
    }
    .service-card {
        padding: 32px;
        border-radius: 12px;
        border: 1px solid rgba(0, 0, 0, 0.10%);
        .icon-camber {
            margin-bottom: 25px;
            width: 64px;
            height: 64px;
            border-radius: 12px;
            text-align: center;
            color: $white-color;
            i {
                font-size: 25px;
                padding: 18px 0px 0px 5px;
            }
        }
        .cam-1 {
            background: $green;
        }
        .cam-2 {
            background: $secondary-color;
        }
        .cam-3 {
            background: $greenlight;
        }
        .text-camber {
            .h2 {
                font-size: 22px;
                font-weight: $medium;
                color: $primary-text-color;
                margin-bottom: 20px;
                @include minwidth(991px) {
                    font-size: 24px;
                }
            }
            .para {
                color: $gray-text-color;
                margin-bottom: 40px;
            }
            .a {
                color: $secondary-color;
                font-weight: $medium;
                text-decoration: underline;
            }
        }
    }
    .service-card:hover {
        cursor: pointer;
        transition: all 0.4s;
        -webkit-box-shadow: 0px 12px 22px 25px rgba(0, 0, 0, 0.04);
        box-shadow: 0px 12px 22px 25px rgba(0, 0, 0, 0.04);
    }
}

// ---------------------------- start video section --------------
.video {
    padding-bottom: 100px;
    .common-section {
        padding-top: 50px;
        padding-bottom: 58px;
    }
    .video-card {
        width: 100%;
        img {
            width: 100%;
        }
        .modal-video-close-btn {
            position: absolute;
            z-index: 2;
            top: -45px!important;
            right: 0;
            display: inline-block;
            width: 35px;
            height: 35px;
            overflow: hidden;
            border: none;
            background: transparent;
        }
    }
}


/* ----------------------- start service2 -------------------- */

.service2 {
    padding-bottom: 50px;
    @include minwidth(991px) {
        padding-bottom: 130px;
    }
    .picture-camber {
        width: 100%;
        .imgs {
            width: 100%;
            height: auto;
        }
    }
    .text-camber {
        @include minwidth(991px) {
            padding-left: 35px;
        }
        .h2 {
            margin-top: 20px;
            font-weight: $bold;
            margin-bottom: 25px;
            color: $primary-text-color;
            @include minwidth(991px) {
                font-size: 40px;
            }
        }
        .para {
            margin-bottom: 16px;
            color: $gray-text-color;
        }
        .minicard {
            padding: 15px;
            @include minwidth( 480px) {
                padding: 20px 25px 32px 25px;
            }
            border: 1px solid rgba(0,
            0,
            0,
            0.10%);
            border-radius: 12px;
            margin-top: 16px;
            .icon-ceamber {
                border-radius: 12px;
                width: 30px;
                height: 30px;
                margin-top: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                @include minwidth(550px) {
                    width: 60px;
                    height: 60px;
                }
                i {
                    font-size: 18px;
                    color: $white-color;
                    @include minwidth(550px) {
                        font-size: 25px;
                    }
                }
            }
            .icon-bg-1 {
                background-color: $green;
            }
            .icon-bg-2 {
                background-color: $secondary-color;
            }
            .icon-bg-3 {
                background-color: $greenlight;
            }
            .text-camber {
                padding-left: 15px;
                @include minwidth(991px) {
                    padding-left: 20px;
                }
                .h3 {
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 16px;
                }
                .para {
                    color: $gray-text-color;
                    margin-bottom: 0px;
                }
            }
        }
    }
}


/*----------------------- start catagori section -------------*/

.gutter-58 {
    padding-bottom: 58px;
}

.catagori {
    padding-top: 22px;
    padding-bottom: 50px;
    @include minwidth(991px) {
        padding-top: 44px;
        padding-bottom: 100px;
    }
    .title {
        margin-bottom: 30px;
        @include minwidth(991px) {
            margin-bottom: 72px;
        }
        .h2 {
            font-weight: $bold;
            color: $primary-text-color;
            margin: 0px;
            @include minwidth(991px) {
                font-size: 40px;
            }
        }
    }
    .para-cover {
        padding-bottom: 30px;
        @include minwidth(991px) {
            padding-bottom: 72px;
            padding-left: 74px;
        }
        .para {
            color: $gray-text-color;
            margin: 0px;
        }
    }
    .cover-box {
        img {
            width: 100%;
        }
        .text-camber {
            width: 80%;
            padding-top: 20px;
            .h3 {
                font-size: 24px;
                color: $primary-text-color;
                font-weight: 500;
                margin-bottom: 20px;
            }
            .para {
                color: $gray-text-color;
                margin: 0px;
            }
        }
    }
    .btn-primariey {
        padding: 18px 25px;
        @include minwidth(991px) {
            padding: 25px 50px;
        }
    }
}


/*----------------- start quotesilder ------------------------*/

.quoteslider {
    padding: 50px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #EBF3FF;
    @include minwidth(991px) {
        padding: 100px 0px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction .container-text {
        bottom: 0px!important;
    }
    .container-text {
        width: 610px;
        max-width: 100%;
        .mask-picture {
            width: 88px;
            height: 88px;
            background-color: $green;
            border-radius: 50%;
            i {
                color: $white-color;
                font-size: 50px;
            }
        }
    }
    .text-camber {
        padding-top: 25px;
        @include minwidth(991px) {
            padding-top: 36px;
        }
        .coma {
            width: 23px;
            height: 19px;
        }
        p {
            padding-left: 20px;
            padding-right: 20px;
            color: $gray-text-color;
            font-size: 18px;
            margin-bottom: 18px;
        }
        .h6 {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 18px;
        }
        @include minwidth(991px) {
            p {
                margin-bottom: 24px;
            }
            .h6 {
                margin-bottom: 22px;
            }
        }
    }
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    li {
        list-style: none;
        margin: 0px;
    }
}


/* ------------------ start subscriber sections -------------*/

.subscribes {
    padding-top: 25px;
    padding-bottom: 25px;
    @include minwidth(768px) {
        padding-top: 50px;
        padding-bottom: 36px;
    }
    @include minwidth(991px) {
        padding-top: 100px;
        padding-bottom: 76px;
    }
    .border-radius-12 {
        background-color: $secondary-color;
        border-radius: 12px;
    }
    .common-section {
        padding-top: 67px;
        padding-bottom: 67px;
        width: 535px;
        max-width: 100%;
        .h2 {
            color: $white-color;
            margin-bottom: 32px;
            font-weight: $bold;
        }
        .paras {
            width: 345px;
            max-width: 100%;
            margin: auto;
        }
        .para {
            color: $white-color;
            margin-bottom: 38px;
        }
        .input_cover {
            width: 412px;
            max-width: 100%;
            margin: auto;
            form {
                margin: 0px;
                padding: 0px;
            }
            input {
                width: 100%;
                height: 52px!important;
                background-color: $white-color;
                border-radius: 12px;
                margin: 0px;
                padding-bottom: 0px;
                padding-left: 30px!important;
                background-image: url('../image/mass.png');
                background-repeat: no-repeat;
                background-position: 8px 12px;
                font-size: 14px;
            }
            .btn-primariey {
                top: 10px;
                right: 8px;
                padding-top: 14px 25px;
                border-radius: 12px;
                background-color: $secondary-color;
                font-size: 14px;
            }
        }
    }
}


/* ------------------- start footer sections -----------------*/

.gutter-25 {
    margin-bottom: 25px;
    @include minwidth(991px) {
        margin-bottom: 0px;
    }
}

footer {
    padding-top: 20px;
    padding-bottom: 23px;
    @include minwidth(991px) {
        padding-top: 46px;
    }
    .para-cover {
        @include minwidth(576px) {
            padding-top: 39px;
        }
        p {
            font-size: 16px;
            color: $gray-text-color;
        }
    }
    .list {
        .h6 {
            font-weight: $bold;
            font-size: 16px;
        }
        li {
            @include minwidth(991px) {
                padding-top: 27px;
            }
            a {
                font-size: 14px;
                color: $gray-text-color;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
    .address {
        .h6 {
            font-weight: $bold;
            font-weight: 700;
        }
        ul {
            padding-top: 15px;
            @include minwidth(991px) {
                padding-top: 27px;
            }
            li,
            a {
                font-size: 14px;
                color: $gray-text-color;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
    .copyright {
        font-size: 14px;
        color: $gray-text-color;
        margin-bottom: 0px;
    }
    .social-icon {
        li {
            width: 24px;
            height: 24px;
            background-color: $gray-text-color;
            border-radius: 50%;
            margin-left: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                width: 100%;
                text-align: center;
                color: $white-color;
                font-size: 16px;
            }
        }
        li:hover {
            transition: all 0.4s;
            margin-top: -5px;
        }
    }
    .padding-top {
        padding-top: 30px;
        @include minwidth(991px) {
            padding-top: 65px;
        }
    }
}